<!DOCTYPE html>
<html>
    <hea>
        <link rel="stylesheet" href="/app.css">
        <title>this is the first page</title>
    </hea>
    
    <body>
        
        <h1>This is just a exercise</h1>